* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-top: 50px;
}


.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
